.container {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;	
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Bree+Serif|Ubuntu|Ubuntu+Mono&display=swap');

/*blok1*/
#blok1{
    height: 400px;
    background: url("img/background.jpg") no-repeat center;
    font-family: "Ubuntu Bolt";
    color: rgba(211, 211, 211, 0.637);
    text-align: center;
}

.blok1_title {
    padding-bottom: 10px;
    padding-top: 40px;
    position: absolute;
    
    
}
.blok1_text {
    padding-bottom: 5px;
     
    
}
.blok1_butom {
    padding-bottom: 100px;
     
    }


/*blok2*/

#blok2{
     text-align: center;
     font-family: "Bree+Serif"
}


.blok2_button  {
  position: relative;
  top: -15px;
  right: 5px
} 

.blok2_button2 {
  padding-top: 40px;
  font-family: "Bree+Serif";
  padding-bottom: 40px;
}
 
.blok2_button2>p {
  padding-top: 10px;
  font-family: "Ubuntu";
 
}
.blok2_button2>h4 {
  padding-top: 30px;
  font-family: "Ubuntu";
  
}

/*blok3*/

.blok3 {  
  background-color: #364050;
  padding-top: 0px;
  background-size: cover;
}
.blok3_title>h4 {
  padding-bottom: 40px;
  padding-top: 40px;
  color: rgb(218, 114, 18);
  padding-left: 3pt;

}
.blok3_button {
  padding-top: 40px;
  padding-bottom: 40px;
}

.blok3_photo11 {
  
}
.blok3_photo>h5 {color:#fa8661; font-family: "Ubuntu"; text-align: left; padding-top: 5%;
}
/*blok4*/

.blok4 {  
  background-color: #fbfcfd;
  text-align: center;
  padding-top: 40px;
}
.blok4_title>h4 {
  padding-bottom: 40px;
  padding-top: 40px;
  color: rgb(218, 114, 18);

}
.blok4_button {
  padding-top: 40px;
  padding-bottom: 40px;
}
.blok4_text2 {
  color: blue;

}
