.container {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;	
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Bree+Serif|Ubuntu|Ubuntu+Mono&display=swap');

/*blok1*/
#blok1{
    height: 400px;
    background: url("img/background.jpg") no-repeat center;
    font-family: "Ubuntu Bolt";
    color: #D3D3D3;
    text-align: center;
}

.display-2 {
    padding-bottom: 10px;
    padding-top: 40px;
    position: absolute;
    
}
.col-9 {
    padding-bottom: 5px;
    
}
.col-md-12 {
    padding-bottom: 20px;
    }


/*blok2*/

#blok2{
     text-align: center;
     font-family: "Bree+Serif"
}
.col-md-12 {
    padding-bottom: -10px; 
    }

